# Next.js
.next/
out/
_backup/

# dependencies
node_modules
/.pnp
.pnp.js

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/coverage
npm-debug.log
yarn-error.log
pnpm-debug.log

# System Files
.DS_Store
Thumbs.db
